@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Work Sans', sans-serif !important;
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

/* Ganti warna header kolom */
/* Contoh menggunakan !important */
.ant-table .ant-table-thead > tr > th {
  background-color: #8a9f5f !important;
  color: #fdfdfd !important;
  font-family: 'Work Sans', sans-serif;
}

/* Ganti warna isi baris */
.ant-table-tbody > tr > td {
  background-color: #f3f3f3;
  font-family: 'Work Sans', sans-serif;
}

/* Warna hover pada header kolom */
.ant-table .ant-table-thead > tr > th:hover {
  background-color: #6c7c4d !important;
  font-family: 'Work Sans', sans-serif;
}

/* Warna hover pada isi dari setiap baris */
.ant-table .ant-table-tbody > tr:hover > td {
  background-color: #d5d5d5 !important;
  font-family: 'Work Sans', sans-serif;
}

.bg-image {
  background-image: url('../public/images/Background-Agrichain.png');
  background-size: cover;
  background-position: center;
}
